footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000000, rgb(77, 77, 77));
}

.Social_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
}

.Social_footer li{
    width: 100px;
}

.Social_footer li a{
    color: #ffffff;
    font-size: 50px;
    transition: 300ms all ease-in-out;
}

.Social_footer li a:hover{
    color: red;
}

footer p{
    font-size: 25px;
    color: #ffffff;
}

footer p a{
    color: #ff0000;
}

footer img{
    margin: 20px;
    width: 50px;
}